#italic-name,
#italic-last-action {
    font-style: italic;
    color: #a8a8a8;
    vertical-align: top;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 2.0;
    text-indent: 10px;
}

.color-beige {
    color: #ffffd9;
}

.orange {
    color: #de6926;
}

.color-grey {
    color: #e3e3e3;
}

#color-red {
    color: red;
}

body {
    background-color: #303030;
    font-family: 'Arial';
    font-size: 14px;
}

h4 {
    color: #000000;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
}

i {
    color: #606060;
    text-indent: 0px;
}

.italic {
    font-style: italic;
    color: #ffffff;
}
